# ======================================================================
# DONNÉES & ARTEFACTS
# ======================================================================
/data/              # Ignore uniquement le dossier data à la racine
!/src/data/         # Garde le dossier src/data/ (et tout ce qu’il contient)
artifacts/

mlruns/
.dvc/cache/
.dvc/tmp/
*.csv
*.pkl
*.joblib
*.h5
*.onnx
*.pt
*.pth
*.npy
data/raw/


# ======================================================================
# PYTHON
# ======================================================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.tsv

# Environnements virtuels
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Poetry
poetry.lock

poetry.lock.hcl

# ======================================================================
# MLflow / DVC / Hydra
# ======================================================================
mlruns/
.dvc/
outputs/
multirun/
.hydra/
*.dvc
!data/raw/*.dvc

# ======================================================================
# IDÉS & ÉDITEURS
# ======================================================================
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# ======================================================================
# SECRETS & ENV
# ======================================================================
.env
*.env
.kaggle/kaggle.json
config.yaml
credentials.json
*.key
*.pem

# ======================================================================
# TESTS & COVERAGE
# ======================================================================
.coverage
.pytest_cache/
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover

# ======================================================================
# DOCKER
# ======================================================================
.dockerignore
docker-compose.override.yml

# ======================================================================
# JUPYTER / NOTEBOOKS
# ======================================================================
.ipynb_checkpoints/
*.nbconvert.ipynb

# ======================================================================
# LOGS
# ======================================================================
*.log
logs/
